<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
</head>
<body>
    <div>
        <h1>Lista de Recetas</h1>
    </div>

    <div>
        <dl>
            <dt>Nombre</dt>
            <dd> <%= nombre %> </dd>
            <dt>Ingredientes</dt>
            <dd> <%= ingredientes %> </dd>
            <dt>Instrucciones</dt>
            <dd><%= instrucciones %></dd>
        </dl>
    </div>

</body>
</html>
