<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
</head>
<body>
    <h1>Lista de Recetas</h1>
    <ul>
        <% recetas.forEach((receta) => { %>
            <li>
                <h2><%= receta.nombre %></h2>
                <p>Ingredientes: <%= receta.ingredientes %></p>
                <p>Instrucciones: <%= receta.instrucciones %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
